body {
  background-color: #000000;
  padding: 1rem;
}

h1 {
  font-size: 20px;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  margin: 2.5rem;
}

h2 {
  font-size: 18px;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  margin: 1.5rem 0 0.5rem;
}

.addDataForm {
  max-width: 300px;
  margin: 0 auto 2.5rem;
}

.addDataForm div {
  margin: 1rem auto;
}

.addDataForm label {
  color: #FFFFFF;
}

.addDataForm input {
  width: 100%;
  box-sizing: border-box;
  margin: 0.25rem 0;
}

.addDataForm textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 0.25rem 0;
}

.addDataForm button {
  width: 40%;
  color: #000000;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  display: block;
  margin: 0.25rem auto;
  padding: 0.5rem;
  cursor: pointer;
}

.addDataForm button:hover {
  background-color: #F0F0F0;
  color: #000000;
}

.addDataForm button:active {
  background-color: #E0E0E0;
  transform: scale(0.9);
}

.getData {
  width: 20%;
  color: #000000;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  cursor: pointer;
}

.getData:hover {
  background-color: #F0F0F0;
  color: #000000;
}

.getData:active {
  background-color: #E0E0E0;
  transform: scale(0.9);
}

.output {
  color: #FFFFFF;
}

.message {
  color: #FFFFFF;
}
