body {
  background-color: #000000;
  padding: 1rem;
}

h1 {
  font-size: 20px;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  margin: 2.5rem 0;
}

.addFormBlock,
.editFormBlock {
  margin: 3rem auto;
}

h2 {
  font-size: 18px;
  font-weight: 900;
  color: #FFFFFF;
  text-align: center;
  margin: 1.5rem;
}

p {
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 0 0.5rem;
}

.addDataForm,
.editDataForm {
  max-width: 350px;
  margin: 0 auto 2.5rem;
}

.addDataForm div,
.editDataForm div {
  margin: 1rem auto;
}

.addDataForm input,
.editDataForm input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

.addDataForm textarea,
.editDataForm textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
}

.addDataForm button,
.editDataForm button {
  width: 40%;
  color: #000000;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  display: block;
  margin: auto;
  padding: 0.5rem;
  cursor: pointer;
}

.addDataForm button:hover,
.editDataForm button:hover {
  background-color: #F0F0F0;
  color: #000000;
}

.addDataForm button:active,
.editDataForm button:active {
  background-color: #E0E0E0;
  transform: scale(0.9);
}

.actionButtons {
  display: none;
}

.actionButtons.show {
  display: flex;
  gap: 1rem;
}

.actionButtons button {
  flex: none;
}
